/* COLOR */

/* Dark */
$dark-back: hsl(207, 26%, 17%);
$dark-element: hsl(209, 23%, 22%);
$dark-text: hsl(0, 0%, 100%);

/* Light */
$light-back: hsl(0, 0%, 98%);
$light-element: hsl(0, 0%, 100%);
$light-text: hsl(200, 15%, 8%);
$light-input: hsl(0, 0%, 52%);


/* TYPOGRAPHY */
$font: 'Nunito Sans', sans-serif;